@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.Todo {
  background-color: $color-bg-plate;
  box-sizing: border-box;
  height: 100vh;

  &__todo-wrapper {
    box-sizing: border-box;
    padding: 32px;
  }
}

@media #{$tablet} {
  .Todo {

    &__todo-wrapper {
      display: flex;
      justify-content: center;
      padding: 24px;
      width: 100%;
    }
  }
}

@media #{$mobile} {
  .Todo {
    &__todo-wrapper {
      padding: 16px;
    }
  }
}

@media #{$mobile-small} {
  .Todo {
    &__todo-wrapper {
      padding: 8px;
    }
  }
}
